
<div id="main-content">
    <div class="wrap">
        <div class="inner-wrap" style="margin-top:0px;">
            <div class="page-content group">
                <article class=" group" >
                    <h2 class="page-title">Yohamana Solange</h2>

                    <div class="entry-content group">

                        <figure class="entry-thumb">
                            <img src="~/Images/SiteTheme/images/demo/blackstone4.jpg" alt="" class="alignleft">
                        </figure>
                        <aside>
                            <br />
                            <br />
                            <br />
                            <a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a>
                            <a href="#" class="icn flickr">Flickr</a> <a href="#" class="icn picasa">Picasa</a>
                            <a href="#" class="icn lnkdin">Linked In</a> <a href="#" class="icn gplus">Google+</a>
                        </aside>

                       <div style="clear:both"></div>
                        <h2>About Me</h2>
                        <p>Yohamna Solange is a very talented singer who was born in Santo Domingo, Dominican Republic. Her passion of music was inspired at a young age by her mother who was also a talented singer in D.R . Following in her mothers footsteps singing became her dream. She knew she was destined to be a music artist, which is when she started to reveal her talents and show the world she could sing.
She unveiled her talents locally in Tampa, FL after signing to a local independent music developing team called “Kontractz Ent.” where she released her first single in 2006 called “My Night” which without a doubt was a success! Later mix tapes such as “In Between the Lines” with artists Skilla Skillpiano and Skrayt were a huge hit! “We Gon Get”, “Close Up” and “Just ride” were just the beginning. Since then she has made other successful songs such as “Lies” , “Body Language Ft Bryan Black” “Paradise ft. Dangerpowaz “ “In the Meantime with Skilla Skillpiano” and “F.U.N”
Believe it or not singing being her first love is not her only passion .Yohamna is a very talented dancer and model. She has worked her way up with multiple model agencies participating in runways and various model shoots.</p>
                        
                         @*<h2>Recent Music</h2>

                        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/47009850&show_artwork=true"></iframe>
                      
                          <br/>*@
                      

 </div>

                </article>

                @*<div id="sidebar">
                    <aside class="widget group">
                        <h3>Upcoming Events</h3>

                    </aside>
                    <div class="block widget group block-events last">
                        <div class="events-container">
                            <ul id="locations">
@foreach (var e in ViewBag.events)
{
    <li class="vevent">
        <a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Event/View/@e.EventId" title="" class="url">
            <time class="dtstart" datetime="@e.Start.ToString("yyyy-MM-dd HH:mm")" title="@e.Start.ToString("yyyy-MM-dd HH:mm")">
                @e.Start.ToString("MMMM dd, yyyy h:mm tt")
            </time>
            <h4 class="summary">@e.Description</h4>
            <h4 class="summary">@e.Venue</h4>
            <b class="location">@e.Location</b>
        </a>
    </li>
}

                          
                            </ul>

                            <ul class="event-nav">
                                <li><a href="#" class="up">Up</a></li>
                                <li><a href="#" class="down">Down</a></li>
                            </ul>
                        </div>
                        <!-- .events -->
                    </div>
                    <!-- .block-events -->

                   

                </div>*@
                <!-- #sidebar -->
            </div>
            <!-- .page-content -->
        </div>
        <!-- .inner-wrap -->
    </div>
    <!-- .wrap < #main-content -->
</div>
<!-- #main-content -->